/* App.css */
.App {
  text-align: center;
}

/* HeroOne */
h1 {
  color: white;
}

/* HeroBoxContainer */
.HeroBoxContainer {
  width: 1150px;
  height: 850px;
  background-color: #f3f7f8;
  display: flex;
  flex-direction: column;
}

/* InnerHeader */
.inner-header {
  height: 1/3;
  background-image: url('./components/Blurry.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-header button {
  background-color: #81aeab;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.inner-header button:hover {
  background-color: #c5e9e7;
}

/* InnerText */
.inner-text {
  padding: 20px;
  text-align: center;
}

/* InnerImage */
.inner-image {
  display: flex;
  align-items: center;
  justify-content: center;
}